.btn {
  outline: none;
  border: none;
  height: 32px;
  padding: 0 1rem;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--gray-900);
  color: var(--gray-50);
}

.btn-secondary {
  background-color: var(--gray-100);
  color: var(--gray-900);
}
